fastapi
uvicorn
dotenv
google-auth-oauthlib 
sqlmodel
psycopg
psycopg[binary]
pydantic[email]
PyJWT
langchain
langchain-core
langchain-community
langchain-google-vertexai
langchain-chroma
supabase
pypdf
pymupdf
python-multipart
beautifulsoup4
langgraph-checkpoint-postgres